{% extends "mail/layout.html" %}

{% block body %}

    <h2 class="sub-heading">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group translucent">
            <input autofocus class="form-control input-field" type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group translucent">
            <input class="form-control input-field" type="password" name="password" placeholder="Password" required>
        </div>
        <input class="btn btn-sm btn-outline-primary navbar-button response-button" type="submit" value="Login">
        <p class="message">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </form>

{% endblock %}
